
{% if blog_posts is empty %}
  Zatím nejsou vloženy žádné posty.
{% else %}
  <div>
    {% for blog_post in blog_posts %}
      <h3>{{ blog_post.blogPostTitle|e }}</h3>
      <i>{{ blog_post.blogPostCreatedAt|date("d.m.Y") }}</i>
      <p>{{ blog_post.blogPostContent|e }}</p>
      {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('admin_remove', { 'blogPostId': blog_post.id } ) }}">Smazat</a> | <a href="{{ path('admin_edit', { 'blogPostId': blog_post.id }) }}">Upravit</a>
      {% endif %}
      <hr>
    {% endfor %}
  </div>
{% endif %}